@mixin flex($flex-dir,$justify-content,$align-items) {
  display: flex;
  flex-direction: $flex-dir;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font($font-size,$font-weight,$line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin prev-next() {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}
