@import "mixins";

// Content
%content {
  width: 100%;
  height: 100%;

  @include flex(column, center, center);
}

%menu-button {
  // Burger items
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 24px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 10;
}
