$font-main: "Oswald", sans-serif;
$font-text: "Source Sans Pro", sans-serif;
$header-pad: 40px;
$item-col: #fff;
$item-col-temp: #000;
$header-title-col: #fff;
$header-sub-color: rgb(255 255 255 / 70%);
$text-hdr-col: #464547;
$text-art-col: #666;
$border-col: #666;
$button-text-col: #fff;
$figure: #55c2d8;
$vid-col: #fff;
$vid-sub-col: #fff;
$foot-col: #464547;
$foot-content-col: #fff;
$foot-inf-col: rgb(255 255 255 / 40%);
$layout-size: 960px;
$back-col: #a9a9a9;
$white-back: #fff;
