@import "kit/variables";

.breadcrumbs {
  margin-top: 30px;

  ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 500;

    & li a:first-child {
      color: $text-art-col;
    }

    & li + li {
      padding-left: 10px;

      &::before {
        display: inline-block;
        padding-right: 10px;
        color: $text-hdr-col;
        content: "/";
      }
    }
  }
}
