@import "kit/variables", "kit/mixins";

.footer {
  margin-top: 20px;
  padding: 30px 0 74px;
  background-color: $foot-col;

  &__content {
    @include font(18px, 300, 16px);

    font-family: $font-text;
    color: $foot-content-col;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: relative;
    grid-area: 1 / span 1/1 / span 1;
  }

  &__txt {
    @include font(16px, 300, 19px);

    font-family: $font-text;
    font-style: normal;
    color: $foot-inf-col;
  }

  // Grid
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 33px 33px;
    gap: 23px;
  }

  &__address {
    grid-area: 1 / span 1/2/3;
  }

  &__email {
    grid-area: 2 / span 1/2/3;
  }

  &__info {
    grid-area: 2 / span 1/4/5;
  }
}
