@import "kit/mixins", "kit/variables";

.create-post {
  .post-form {
    @include flex(column, center, center);

    padding: 0 0 30px;

    label {
      width: 100%;

      @include font(20px, 600, 30px);

      font-family: $font-text;
      color: $text-hdr-col;
    }

    input,
    select,
    textarea {
      resize: none;
      font-family: $font-text;
      color: $text-art-col;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 20px;
      box-sizing: border-box;
    }

    &__button {
      padding: 12px 23px;
      margin: 20px 0 0;

      @include font(14px, 400, 26px);

      font-family: $font-main;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border-radius: 23px;
      background-color: $figure;
      color: white;
      transform-origin: left top;
      transition: 400ms ease-in-out;

      &:hover {
        color: $figure;
        background-color: white;
      }
    }
  }
}
