@import "kit/mixins";

.gallery {
  .container {
    @include flex(column, center, center);
  }

  &__pictures {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .picture img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
    }
  }
}
