@media screen and (width <= 1275px) {
  .gallery {
    &__pictures {
      display: grid;
      gap: 30px 30px;
      grid-template-columns: 1fr 1fr 1fr;

      .picture {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 300px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (width <= 1000px) {
  .gallery {
    &__pictures {
      display: grid;
      gap: 30px 30px;
      grid-template-columns: 1fr 1fr;

      .picture {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}
