@import "kit/variables", "kit/placeholders", "kit/mixins";

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 70vh;
  padding: $header-pad 0;
  position: relative;

  &-temp {
    background-color: $back-col;
    width: 100%;
    height: 100%;
    padding: $header-pad 0;
    position: relative;

    #board-item-temp {
      &:hover {
        #submenu {
          background-color: $back-col;
          opacity: 1;
          pointer-events: visible;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  // Header Slider
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    & ul {
      height: 100%;
      width: 100%;
    }

    &-slide {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-prev {
      left: 0;

      @include prev-next;
    }

    &-next {
      right: 0;

      @include prev-next;
    }

    &-prev,
    &-next {
      &:hover {
        background-color: rgb(0 0 0 / 80%);
      }
    }
  }

  // Header Nav
  &__nav {
    text-align: center;

    & > a {
      text-decoration: none;
    }
  }

  &__name {
    position: absolute;
    left: 15px;

    @include font(20px, 600, 16px);

    font-family: $font-text;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $item-col;
  }

  &__menu {
    @include flex(row, center, center);

    &-item {
      padding: 0 32px;
      transition: 400ms;

      & > a {
        @include font(14px, 400, 16px);

        font-family: $font-text;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $item-col;
        text-decoration: none;
        z-index: 1;
      }
    }
  }

  &__submenu {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    width: 200px;
    transform: translateY(20px);
    transition: 0.3s;

    li {
      padding: 5px;
      margin-top: 10px;
      margin-bottom: 10px;

      a {
        @include font(14px, 400, 16px);

        font-family: $font-text;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $item-col;
        text-decoration: none;
        padding: 10px 20px;
      }
    }
  }

  &__menu-item a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    background-color: rgb(0 0 0 / 40%);
    border-radius: 10px;
    padding: 10px;
  }

  &__submenu li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    padding: 10px;
  }

  #board-item {
    &:hover {
      #submenu {
        opacity: 1;
        pointer-events: visible;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}
