@import "kit/variables", "kit/mixins";

.container {
  padding: 0 27px;
}

.header {
  &__slider-slide img {
    object-fit: cover;
  }

  &__nav {
    @include flex(row, space-between, center);

    z-index: 10;
  }

  &__content {
    position: relative;
  }

  &__name {
    position: static;
  }

  // Item box
  &__menu {
    position: absolute;
    margin-top: 20px;
    opacity: 0;
    width: 100%;

    @include flex(column, space-around, center);

    left: 0;
    right: 0;
    background-color: $text-hdr-col;
    z-index: 3;
    transform: translateY(-100px);
    transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);

    &-item {
      padding: 10px 0;
    }
  }
}
