@import "kit/variables", "kit/mixins";

.content-block {
  .container {
    @include flex(column, center, center);
  }

  &__button {
    padding: 12px 23px;
    margin: 20px 0 0;

    @include font(14px, 400, 26px);

    font-family: $font-main;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: $figure;

    a {
      text-decoration: none;
      color: $button-text-col;
    }

    transform-origin: left top;
    transition: transform 400ms ease-in-out;

    &:hover {
      background-color: #fff;

      a {
        color: $figure;
      }

      transform: scale(0.9);
    }
  }
}

.contacts {
  .container {
    @include flex(column, center, center);
  }

  &__map {
    margin-bottom: 20px;
  }
}

.title {
  @include font(48px, 700, 64px);
  @include flex(column, center, center);

  margin: 20px;
  font-style: normal;
  color: $text-hdr-col;
}

.pagination {
  @include flex(row, center, center);

  &__button {
    padding: 10px 15px;
    margin: 20px 5px 0;

    @include font(11px, 400, 26px);

    color: $item-col;
    font-family: $font-main;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: $figure;
  }
}
