@import "kit/variables", "kit/mixins", "kit/placeholders";

// Default
#menu-toggle {
  display: none;
}

// Burger
.menu {
  &-button {
    @extend %menu-button;

    // Burger box
    &-container {
      display: none;
      height: 30px;
      width: 30px;
      position: relative;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &::before,
    &::after {
      content: "";

      @extend %menu-button;
    }

    &::before {
      margin-top: -8px;
    }

    &::after {
      margin-top: 8px;
    }
  }
}

// Burger animation
#menu-toggle:checked + .menu-button-container > .menu-button {
  transform: translateX(-7px);

  &::after {
    transform: translateX(-7px);
  }

  &::before {
    transform: translateX(7px);
  }
}
