@media screen and (width <= 1275px) {
  .content-block {
    &__posts {
      display: grid;
      gap: 30px 30px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;

      .post {
        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__img {
          width: 300px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (width <= 1000px) {
  .content-block {
    &__posts {
      display: grid;
      gap: 30px 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      .post {
        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__img {
          width: 300px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (width <= 800px) {
  .content-block {
    &__posts {
      display: grid;
      gap: 30px 30px;
      grid-template-columns: 1fr;

      .post {
        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__img {
          width: 300px;
          border-radius: 10px;
        }
      }
    }
  }
}
