@import "kit/mixins", "kit/variables";

.content-block {
  &__posts {
    .post {
      @include flex(column, center, center);

      &__meta {
        margin-top: 5px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-family: $font-text;
        color: #d3d3d3;
      }

      &__title {
        @include font(20px, 500, 30px);

        color: $text-hdr-col;
      }

      &__text {
        font-family: $font-text;
        color: $text-art-col;
      }

      &__img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
      }
    }

    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }
}

.filters {
  @include flex(row, center, center);

  top: 10vh;
  width: 100%;
  padding: 20px;

  #filter-dropdown {
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 7px 20px;
    color: $text-art-col;
    appearance: none;
    font-size: 15px;
    width: 225px;

    &:focus {
      border: 1px solid $border-col;
    }
  }

  .search input {
    padding: 7px 20px;
    outline: none;
    color: $text-art-col;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 10px;

    &:focus {
      border-color: $border-col;
    }
  }
}

.hidden {
  display: none;
}
