@import "https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap";
@import "kit/mixins", "kit/variables", "footer", "menu", "header", "main", "gallery", "posts", "breadcrumbs", "form",
  "gallery.mobile", "posts.mobile";

// Media query for Mobile
@media (max-width: $layout-size) {
  @import "footer.mobile", "menu.mobile", "header.mobile";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button,
.button {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
  font-family: $font-main;
}

body {
  overflow-x: hidden;
}

// Style
.container {
  max-width: 1111px;
  height: 100%;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  position: relative;
}

p {
  font-family: $font-text;
}
