<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Memories/Planning Board</title>
</head>

<body class="body">
<header class="header-temp">
    <div class="container">
        <!-- Main Navigation -->
        <nav class="header__nav">
            <a href="./index.html" class="header__name name">My Board</a>
            <input id="menu-toggle" type="checkbox"/>
            <label class='menu-button-container' for="menu-toggle">
                <span class='menu-button'></span>
            </label>
            <ul class="header__menu">
                <li class="header__menu-item"><a href="./index.html">Home</a></li>
                <li class="header__menu-item"><a href="#board">Board</a></li>
                <li class="header__menu-item"><a href="./create-post.html">Create Post</a></li>
                <li class="header__menu-item"><a href="./index.html#gallery">Gallery</a></li>
                <li class="header__menu-item"><a href="./index.html#contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Main Content -->
<main class="main">
    <div class="container">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li>Board</li>
            </ul>
        </nav>
    </div>

    <div class="content-block" id="board">
        <div class="content-block_title title">
            <h2>Memories and Plans Board</h2>
        </div>

        <div class="filters">
            <select id="filter-dropdown" onchange="filter()">
                <option value="all">Sorting</option>
                <option value="filterfuture">Future</option>
                <option value="filterpast">Past</option>
            </select>
            <div class="search">
                <input
                        type="search"
                        name="search"
                        id="search"
                        placeholder="Search by title"
                        onkeyup="search()"
                />
            </div>
        </div>

        <div class="content-block__posts" id="posts">
            <script id="post-template" type="text/template">
                <div class="post filter{{category}}" data-id="{{id}}">
                    <img class="post__img" src="{{imagePost}}" alt="{{title}}">
                    <div class="post__meta">
                        <span class="post__meta__category">{{category}}</span>
                        <span>&bullet;</span>
                        <span class="post__meta__date">{{date}}</span>
                    </div>
                    <h2 class="post__title">{{title}}</h2>
                    <p class="post__text">{{text}}</p>
                </div>
            </script>
        </div>

        <div class="pagination" id="pagination">
            <button class="pagination__button" type="button" id="prev">Prev</button>
            <button class="pagination__button" type="button">1</button>
            <button class="pagination__button" type="button">2</button>
            <button class="pagination__button" type="button" id="next">Next</button>
        </div>

        <div class="container">
            <button type="button" class="content-block__button">
                <a href="./create-post.html">Create Post</a>
            </button>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="footer__content">My Board.</p>
        <address class="footer__address footer__txt">
            123 Street, <br>
            Anytown, USA 12345
        </address>
        <a class="footer__email footer__txt" href="mailto: Sarvar_Ilyasov@student.itpu.uz">
            Sarvar_Ilyasov@student.itpu.uz
        </a>
        <p class="footer__info footer__txt">© 2024 All rights reserved</p>
    </div>
</footer>

<script src="./assets/js/app.js"></script>
<script src="./assets/js/filters.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const postsPerPage = 4;
        const postItems = document.querySelectorAll(".post");
        const totalPages = Math.ceil(postItems.length / postsPerPage);
        let currentPage = 1;

        function showPosts(page) {
            const startIndex = (page - 1) * postsPerPage;
            const endIndex = startIndex + postsPerPage;

            postItems.forEach((post, index) => {
                if (index >= startIndex && index < endIndex) {
                    post.style.display = "block";
                } else {
                    post.style.display = "none";
                }
            });
        }

        showPosts(currentPage);

        function navigateToPage(page) {
            if (page >= 1 && page <= totalPages) {
                currentPage = page;
                showPosts(currentPage);
            }
        }

        document.getElementById("prev").addEventListener("click", function () {
            navigateToPage(currentPage - 1);
        });

        document.getElementById("next").addEventListener("click", function () {
            navigateToPage(currentPage + 1);
        });
    });
</script>
</body>

</html>